body{
    height: 100%;
    margin: 0;
    background-color: rgb(32, 124, 124);
}

.navbar{
    background-color:rgb(250, 218, 74);
    border-bottom: 1px solid rgb(46, 28, 6);
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-name{
    display: inline;
    margin: 0;
    margin-left: .5rem;
    font-size: 2rem;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 14rem;
    margin-right: .5rem;
    font-size: 17px;
}

.nav-links{
    text-decoration: none;
    color: #C14953;
}

.content-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.intro{
    padding-top: 20px;
    display: flex;
    margin-left: 20vh;
    /* justify-content: center; */
}

.pitch{
    font-size:4em;
    color:#FFFFFF;
    /* margin-left: 10%; */
    /* width: 80%; */
}

.pitch-comment{
    display: inline;
    color: #C14953;
}

.section-header{
    font-size:5em;
    color:#FFFFFF;
}

.bio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.profile-pic{
    /* display: flex;
    justify-content: center; */
    height: 400px;
    width: 400px;
    border-radius: 40px;
    object-fit: cover;
    object-position: 0% 30%;
    border: 5px solid rgb(46, 28, 6);
}

.blurb{
    color: white;
}

.grid-3-columns{
    margin: 3rem;
    width: min(80%, 75rem);
    display: grid;
    grid-auto-flow: row;
    /* grid-template-columns: 33% 33% 33%; */
    gap: 2em;
}

@media (min-width: 55em) {
    .grid-3-columns {
        grid-auto-flow: column;
    }
    .blogs {
        grid-auto-flow: column;
    }
}

.demos{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.demo-embed{
    background-color: gray;
    border-radius: 10px;
}

.blogs{
    /* width: min(90%, 75rem); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #F2A65A; */
    /* grid-template-columns: 100%; */
    /* grid-auto-flow: row; */
}

.blog-container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    /* width: min(90%, 75rem); */
    /* gap: 2em; */
    justify-content: space-around;
    /* grid-template-columns: 33% 33% 33%; */
} 

.blog-card{
    background-color: grey;
    height:10rem;
    width: 10rem;
    border: 1px solid rgb(46, 28, 6);
}