:root {
    /* --teal: rgb(32, 124, 124); */
    /* --teal: #F6F6F6; */
    --teal: #37323E;
    --brickred: #C14953;
    /* --navyellow: rgb(250, 218, 74); */
    --navyellow: #363440;
    --brownborder: rgb(46, 28, 6);
}
  

body{
    height: 100%;
    margin: 0px;
    background-color: var(--teal);
    /* border: 1px solid rgb(250, 218, 74); */
    
    /* background: rgb(0,0,0);
    background: linear-gradient(160deg, rgba(0,0,0,1) 17%, rgba(33,124,124,1) 53%); */
}

.navbar{
    background-color: var(--navyellow);
    /* background-color: #363440; */
    /* border-bottom: 1px solid var(--brownborder); */
    border-bottom: 1px solid rgb(250, 218, 74);
    position: absolute;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    z-index: 1;
}

.nav-name{
    display: inline;
    margin: 0;
    margin-left: .5rem;
    font-size: 2rem;
    color: #FFFFFF;
    /* transition: all 2s ease; */
}

.nav-name:hover{
    /* color: rgb(241, 241, 142); */
    color: #fcc95c;
    cursor: pointer;
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    width: 14rem;
    margin-right: .5rem;
    font-size: 17px;
}

.nav-links{
    text-decoration: none;
    /* color: var(--brickred); */
    color: inherit;
}

.content-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.intro{
    /* background-color: rgb(159, 208, 231); */
    /* background-color: #FFFFFF; */
    background-color: #514a5c;
    
    margin-top: 38px;
    /* padding-top: 20px; */
    display: flex;
    justify-content: center;
    /* margin-left: 11vw; */
    /* border: 4px solid var(--brownborder); */
    /* border-radius: 40px; */
    /* justify-content: center; */
}

.pitch{
    margin: 0;
    padding: 8rem;
    /* margin-top: 0rem;
    margin-bottom: 0rem; */
    font-size:4em;
    /* color: rgb(130, 130, 211); */
    color: #fcc95c;
    animation-name: typing;
    animation-duration: 3800ms;
    animation-iteration-count:initial;
    /* margin-left: 10%; */
    /* width: 80%; */
}

.pitch-comment{
    display: inline;
    /* color: rgb(130, 130, 211); */
    color: #5d92b4;
    /* opacity: .4; */
}

.section-header{
    font-size:4em;
    color: #fcc95c;
    margin: 0;
    /* margin-right: 16rem; */
    /* color: rgb(129, 180, 180); */
}

.yellow-border{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(250, 218, 74);
}

.bio-section{
    /* box-sizing: border-box; */
    background-color: #3e3846;
    display: flex;
    flex-direction: column;
}

.bio{
    margin-top: 5rem;
    /* border: 1px solid rgb(250, 218, 74); */
    box-sizing: border-box;
    /* background-color: #3e3846; */
    background-color: #5d92b4;
    border-radius: 2rem;
    /* width: 95%; */
    height: 10rem;
    /* margin-top: 50px; */
    display: flex;
    flex-direction: row;
    /* add variable wrapping */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    /* margin-bottom: 8em; */
}

.profile-pic{
    /* display: flex;
    justify-content: center; */
    height: 20em;
    width: 20em;
    /* border-radius: 40px; */
    border-radius: 50%;
    object-fit: cover;
    object-position: 0% 30%;
    border: 2px solid var(--brownborder);
    background-color: var(--brickred);
}

/* .profile-bracket{
    font-size: 15rem;
    color: #fcc95c;
    margin-bottom: 2rem;
} */

.blurb{
    color: #FFFFFF;
}

.grid-3-columns{
    margin: 3rem;
    /* width: min(90%, 5rem); */
    width: 59vw;
    display: grid;
    grid-auto-flow: row;
    /* grid-template-columns: 33% 33% 33%; */
    gap: 2em;
}

@media (min-width: 55em) {
    .grid-3-columns {
        grid-auto-flow: column;
    }
    .blogs {
        grid-auto-flow: column;
    }
}

.technologies{
    background-color: #514a5c;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2em;
    box-sizing: border-box;
}

.tech-list-wrapper{
    color: white;
}

.demos{
    background-color: #3e3846;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demo-embed{
    background-color: var(--brickred);
    border-radius: 10px;
}

section{
    /* width: 100vw; */
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: indianred;
}

.blogs{
    background-color: #514a5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 100%; */
    /* grid-auto-flow: row; */
}

/* USE GRID FOR THE BLOG CONTAINER! */

.blog-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: space-evenly;
    /* align-items: center; */
    
    /* width: min(43.5rem); */
    gap: 1rem;
    
    /* width: min(90%, 75rem); */
    /* gap: 2em; */
    /* grid-template-columns: 33% 33% 33%; */
} 

.blog-card{
    background-color: var(--brickred);
    height:15rem;
    width: 15rem;
    border: 1px solid var(--brownborder);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#blog-card-3{
    background-image: url("ppllnnn\ -\ Manolo\ Gamboa\ Naon\,\ July\ 31\,\ 2018.png");
    background-size: contain;
}

.blinking-cursor{
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    opacity: 1;
}

@keyframes blink {
    from { opacity: 1;}
    to {opacity: 0;}
}

@keyframes typing {
    from { opacity: 0;}
    to {opacity:  1;}
}