.navbar{
    background-color:rgb(250, 218, 74);
}

body{
    height: 100%;
    margin: 0;
    background-color: rgb(32, 124, 124);
}

.nav-name{
    display: inline;
}

.pitch{
    font-size:5vh;
    color:white;
}

.profile-pic{
    height: 400px;
    width: 400px;
    border-radius: 40px;
    object-fit: cover;
    object-position: 0% 30%;
    border: 5px solid rgb(46, 28, 6);
}